@page "/Status"

@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime

<PageTitle>Compression Streams - Status</PageTitle>

<pre><code>@((MarkupString)compareText)</code></pre>

@code {
    private string compareText = "";

    protected override void OnInitialized()
    {
        var compareLines = new List<string>();
        var lines = webIDL.Replace("<", "&lt;").Split('\n');
        for (int i = 0; i < lines.Count(); i++)
        {
            var color = supportedRows.Any(interval => i >= interval.start && i <= interval.end) ? "lightgreen" : "pink";
            compareLines.Add($"""<span style="background-color:{color};display:block;min-height:21px;">{lines[i]}</span>""");
        }

        compareText = string.Join("", compareLines);
        StateHasChanged();
    }

    private (int start, int end)[] supportedRows = new (int start, int end)[] { (0, 10) };

    private const string webIDL = @"[Exposed=*]
interface CompressionStream {
  constructor(DOMString format);
};
CompressionStream includes GenericTransformStream;

[Exposed=*]
interface DecompressionStream {
  constructor(DOMString format);
};
DecompressionStream includes GenericTransformStream;";

}
